<div class="container">

  <p-card id="register-card" header="Krypton Register" subheader="Here you can create your user.">
    <div id="error-box">
      @if(error) {
        <p-message severity="error" text="{{error}}"></p-message>
      }
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <label for="username">Username</label>
      <p-inputGroup>
        <p-inputGroupAddon>
          <span class="material-symbols-outlined">person</span>
        </p-inputGroupAddon>
        <input [formControl]="form.controls.username" pInputText id="username" type="text" placeholder="JohnDoe1">
      </p-inputGroup>

      <label for="firstname">First name</label>
      <p-inputGroup>
        <p-inputGroupAddon>
          <span class="material-symbols-outlined">person</span>
        </p-inputGroupAddon>
        <input [formControl]="form.controls.firstname"  pInputText id="firstname" type="text" placeholder="John">
      </p-inputGroup>

      <label for="lastname">Last name</label>
      <p-inputGroup>
        <p-inputGroupAddon>
          <span class="material-symbols-outlined">person</span>
        </p-inputGroupAddon>
        <input  [formControl]="form.controls.lastname" pInputText id="lastname" type="text" placeholder="Doe">
      </p-inputGroup>

      @if (formState() == FormState.INITIAL) {
        <p>To create your account, you have to generate a keypair which is used to authenticate and encrypt your data.</p>

        <div id="generation-type">
            <p-selectButton [options]="generationTypeOptions" [formControl]="form.controls.generationType" [multiple]="false"></p-selectButton>
        </div>

        @if (form.controls.generationType.value == "RSA") {
          <p-message severity="info" text="Classic encryption with larger keys. Older, slower, but widely used"></p-message>
        } @else {
          <p-message severity="info" text="Modern encryption with shorter keys. Efficient and widely adopted."></p-message>
        }

        <div pTooltip="Encryption algorithm 'ED25519' is currently not available." [tooltipDisabled]="form.controls.generationType.value != 'ED25519'" style="display: inline-block">
          <button type="button" [disabled]="!form.controls.generationType.valid || form.controls.generationType.value == 'ED25519'"  (click)="generateKeys()" [loading]="generateKeyLoading" id="generate-btn" pButton class="p-button-warning">Generate key pair</button>

        </div>

      } @else {
        <div id="download-buttons">
          <button type="button" (click)="openKey('public')" pButton [disabled]="!publicKeyUrl()">Download Public Key</button>
          <button type="button" (click)="openKey('private')" pButton [disabled]="!privateKeyUrl()">Download Private Key</button>
        </div>

        @if (!(publicKeyDownloaded() && privateKeyDownloaded())) {
          <p-message class="key-status-message" severity="warn" text="Download the keys, this action cannot be done later. Keep your private key secret!"></p-message>
        } @else {
          <p-message class="key-status-message" severity="success" text="You're ready to go!"></p-message>

        }


        <div style="display: inline-block; width: fit-content" pTooltip="Please download the private- and the public key." [tooltipDisabled]="privateKeyDownloaded() && publicKeyDownloaded()">
          <button [disabled]="!(privateKeyDownloaded() && publicKeyDownloaded())" pButton type="submit">Register</button>
        </div>

      }


    </form>

    <small class="pk-status">You have an account? <span style="cursor: pointer" [routerLink]="'/login'" class="underlined">Login Now</span></small>


  </p-card>

</div>
